:root {
  --background: #fffcfd;
  --foreground: #250e07;
  --light-gray: #f3eae9;
  --gray: #d8b8b3;
  --green: #6f873e;
  --red: #ed5466;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Sans-Serif;
}

#message-pane {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#message-log {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.25em;
  overflow: auto;
}

.self-message {
  background-color: var(--light-gray);
  display: inline-block;
  align-self: flex-end;
  margin: 0.25em 0.5em;
  padding: 0.5em 0.75em;
  border-radius: 1em;
  font-size: 1rem;
}

.other-message {
  background-color: var(--green);
  color: var(--background);
  display: inline-block;
  margin: 0.25em 0.5em;
  padding: 0.5em 0.75em;
  border-radius: 1em;
}

#composer {
  margin: 0.25em;
  padding: 0.25em;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray);
  border-radius: 1em;
}

/* This is a trick to make the textarea auto grow, by attaching a shadow element that can autogrow
   with the same content */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  width: 100%;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow-y: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: none;
  font: inherit;
  outline: none;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  background-color: var(--background);
  padding: 0em 0.5em;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

#send-button {
  border: none;
  border-radius: 1em;
  aspect-ratio: 1/1;
  background: var(--red);
  color: var(--background);
}
